@import "tailwindcss";


@theme {
    --color-midnight-blue: oklch(0.2225 0.0855 270.68);
    --color-grey-blue-primary: oklch(0.28 0.06 270);
    --color-fusion-orange: oklch(0.68 0.22 45.0);
    --color-light-orange: oklch(0.84 0.17 85);
    
    --color-dark-blue-steel: oklch(0.35 0.06 270); /* fonds de cartes */
    --color-light: oklch(0.98 0.01 270); /* texte primaire */
    --color-grey-blue-secondary: oklch(0.60 0.04 270); /* texte secondaire */

    /* Typographie */
    --font-roboto: "Roboto", sans-serif;
    --font-navbar: "Racing Sans One";


}

@utility corner-frame {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 60%;
        height: 60%;
        background:
            linear-gradient(to right, var(--color-fusion-orange), transparent) top / 100% 1px no-repeat,
            linear-gradient(to bottom, var(--color-fusion-orange), transparent) left / 1px 100% no-repeat;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 60%;
        height: 60%;
        background:
            linear-gradient(to left, var(--color-fusion-orange), transparent) bottom / 100% 1px no-repeat,
            linear-gradient(to top, var(--color-fusion-orange), transparent) right / 1px 100% no-repeat;
    }
}